/*conteudo dentro da tabela*/
.tabela-clientes-container { 
    font-family: var(--fonte-texto);       
    overflow-x: auto;    
    padding: 2rem;
    width: 95%;  
    margin: 2rem auto;       
    height: auto;    
    background-color: var(--cor-fundo-boxCadastro);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);    
}

.hidden-coluna {
    display: none !important;
}

.controle-colunas {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: var(--fonte-texto);
    font-size: 0.95rem;
    color: var(--cor-preto-LightMode);
}

.controle-colunas button {                        
    background-color: var(--cor-botao);
    color: var(--cor-branco);
    border: 1px solid var(--cor-bordainput);
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;
}

.controle-colunas button:hover {
    background-color: var(--cor-principal);
}


/*Filtrar por:*/
.filtro-linhas {                        
    font-weight: 600;
    gap: 1rem;  
    padding: 1%;
    color: var(--azul-navy);
    font-family: var(--fonte-texto);
}

/* Txt dentro do <select> */
#colunaFiltro {                         
    width: 6rem;            
    height: 2rem;    
    font-family: var(--fonte-texto);
    font-size: 0.9rem;
    font-weight: 300;    
    color: var(--cor-preto-LightMode); 
    border: 1px outset var(--cor-bordainput);
    border-radius: 7px;
    cursor: pointer;
    transition: border-color 0.2s;
}

/*txt dentro do input de pesquisa*/
#textoFiltro {                      
    width: 27.2rem;            
    height: 2rem;
    padding: 0 1px 0 5px;    
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--cor-preto-LightMode); 
    border: 1px outset var(--cor-bordainput);
    border-radius: 7px;
    cursor: pointer;
    transition: border-color 0.2s;
}

/* Se quiser estilizar as opções (nem todos os navegadores respeitam) */
#colunaFiltro option {
    font-family: var(--fonte-texto1);
    font-size: 0.9rem;
    color: var(--cor-preto-LightMode);
    background-color: var(--cor-branco);
    padding: 4px 8px;
}

#tabelaClientes {
    width: 100%;
    min-width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: var(--cor-branco);    
    font-weight: 300;
    font-size: 1.12rem;
    margin-top: 1rem;
}

#tabelaClientes thead {
    background-color: var(--cor-tabelaClientes-cabeçalho);    
}

#tabelaClientes thead th {  
    font-family: var(--fonte-texto);
    font-size: 1.5rem;    
    font-weight: 500;
    color: var(--cor-branco);       
    text-shadow: 1px 1px 2px var(--cor-principal);    
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;  
}

#tabelaClientes tbody tr:hover {
    background-color: var(--cor-hoverTabelaClientes); 
    transition: background-color 0.7s ease;
    cursor: pointer;
}

#tabelaClientes th,
#tabelaClientes td {
    padding: 4px 6px;
    font-size: 1rem;
    line-height: 1.2;
    white-space: normal;    
    font-weight: 300;
    border: 1px solid var(--cor-bordainput); 
    box-sizing: border-box;
}

/* tamanho Coluna Nome e Endereço mais largas */
#tabelaClientes th[data-col="nome"],
#tabelaClientes td.col-nome {
    width: 30%;
}


#tabelaClientes th[data-col="endereco"],
#tabelaClientes td.col-endereco {
    width: 30%;
}

/* tamanho - contato */
#tabelaClientes th[data-col="contato"],
#tabelaClientes td.col-contato {    
    width: 10.5%;   
    text-align: center;
}

/* tamanho - cidade */
#tabelaClientes th[data-col="cidade"],
#tabelaClientes td.col-cidade {
    width: 6.5%;
    text-align: center;
}

/*quebra de linha*/
#tabelaClientes th[data-col="nome"],
#tabelaClientes td.col-nome,
#tabelaClientes th[data-col="endereco"],
#tabelaClientes td.col-endereco,
#tabelaClientes th[data-col="contato"],
#tabelaClientes td.col-contato,
#tabelaClientes th[data-col="cidade"],
#tabelaClientes td.col-cidade {   
    align-content: center; 
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;    
}

/*tamanho Coluna Status*/
#tabelaClientes th[data-col="status"],
#tabelaClientes td.col-status {
    width: 4%;
}

/*tamanho coluna de ações*/
#tabelaClientes th[data-col="acoes"],
#tabelaClientes th:last-child,
#tabelaClientes td:last-child {
    width: 8%;
    text-align: center;
    align-content: center;
}

.btn-editar {
    background-color: var(--botao-editarClientes);
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 3px;
}

.btn-excluir {
    background-color: var(--botao-excluirClientes);
    color: var(--cor-branco);
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}


#tabelaClientes th[data-col="status"],
#tabelaClientes td.col-status {
  display: none !important;
}

.status-tag {
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
}

.status-tag.ativo {
    background-color: #d1f7d1;
    color: #2d862d;
}